* {  -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.heard{
    width:100%;
    height: 80px;
    background-color: #cccccc;
    overflow: hidden;
}
.footer{

    width:100%;
    height: 40px;
    background-color: #cccccc;
    overflow: hidden;
}
.biao_ti{

    float:left;
    border:1px black solid;
    margin:15px 0px 0px 720px;
    width:300px;
    text-align: center;
    border-radius: 10px;
    border-top:none;
    border-bottom: none;
}
.header_nav{

    float:right;
    width:250px;
    height:50px;
    /*border:1px black solid;*/
    /*border-radius: 5px;*/
    margin-top:25px;
    margin-right:60px;
}
.header_nav_ul{

    display: flex;
    padding:12px 0px ;
}
.header_nav_ul li{

    flex: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    border-right:1px solid black ;

}
.header_nav_ul li:last-child{

    border-right:none ;
}
.main{
    background-color: #cccccc;
    background:url("/img/1.jpg") center/cover no-repeat;
    width: 100%;
    height:750px;

}
.center{

    width:1400px;
    /*border:1px solid black;*/
    overflow:hidden;
    margin: 0px auto;
    border-radius: 20px;


}


#div1{
    float:left;
    height:650px;
    width: 300px;
    margin:40px 20px 20px 20px ;
    border: 1px black solid;
    border-right:none;
    border-left:none;
    border-radius: 10px;
}

.center_table{

    margin: 40px auto;
    width:200px;
    text-align: center;
    border-top:1px black solid;
    border-bottom:1px black solid;
    border-radius: 5px;

}
.center_table tr:first-child{

    background: #999999;


}


.center_table tr{

    background: #cccccc;
}
.center_table tr:hover{

    background: #999999;

}

td:hover{

    color: black;
    font-style:italic;

}
.center_table > tr{

    border-bottom:1px black solid;
    background-color: rebeccapurple;

}
#div2{
    float:left;
    height:650px;
    width: 1000px;
    margin:40px 20px 20px 20px ;

    border: 1px black solid;
    border-right:none;
    border-left:none;
    border-radius: 10px;

}

.center_table_two{

    margin: 40px auto;
    width: 940px;
    text-align: center;
    border-top:1px black solid;
    border-bottom:1px black solid;
    border-radius: 5px;

}
tr{

    border:1px black solid;
    height: 80px;
    background: #cccccc;
}

td{
    border-bottom:1px black solid;
    border-radius: 5px;
    font-size:20px;
    font-weight: 700;
    /*color:#660066;*/
    color: black;
}
.foot_list{

    width: 1300px;
    display: flex;
    margin: 0 auto;
    /*border:1px red solid;*/
    margin-top:5px;

}
.foot_list li{

    flex:1;
    text-align: center;
    padding: 5px;
    border-left:1px solid black;
    height: 30px;
    font-size:20px;
}

.foot_list li:first-child{

    border-left: none;


}

.foot_list li:hover{

    color: black;
    font-style:italic;
}

