
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
	
}
ul {
	list-style:none;
}
.menu li a{
	text-decoration:none;

}
.div1{
	height:50px;
	width: 100%;
	margin:0 auto;
}

.nav {
	width: 100%;
	display: flex;
	height:50px;
	float: left;
	top: 0;
	position: relative;
	margin: 0 auto;
	position: fixed;
	z-index: 100;
}
.menu {
	width: 100%;
	height:50px;
	display: flex;
}
.menu>li{
	flex:1;
}
.menu>li {
	
	float:left;
	position:relative;
}

.menu li a {
	display:inline-block;
	height:50px;
	width: 225px;
	line-height:50px;
	text-align:center;
	color:#fff;
	background:#0977bc;
}
.menu>li a:hover {
	background:#25aae1;
}
.menu>li a.active {
	background:#25aae1;
}
.menu-a {
	display:none;
	position:absolute;
	top:50px;
	left:0;
	z-index:999;
}


.log{
	
	height: 50px;
	float: right;
	top: 0;
	position: relative;
	margin: 0 auto;
}

.log a{
	white-space:nowrap;
	display:inline-block;
	height:50px;
	width:100%;
	line-height:50px;
	text-align:center;
	color:#fff;
	background:#0977bc;
}

.log a:hover {
	background:#25aae1;
}


.info{
	width: 100%;
	height:600px;
	background-image: url(../img/info1.jpg);
}
/*
.carousel{
	width: 80%;
	margin-left: 10%;
}
*/

.about{
	width: 100%;
	height: 200px;
	
}

.about a{ 
	color: blue; 
	text-decoration: none;
	}
.about a:hover{ 
	color: black; 
	text-decoration: underline;
	}
	

.about #font1{
	margin-right: 50px ;
	float: right;
}


.about #erwei{
	margin-right: 250px ;
	float: right;
}
